global

defaults

resolvers docker_resolver
    nameserver dns 127.0.0.11:53

frontend sok-front-end1
    bind *:80
    bind :::443 ssl crt /haproxy/certs/localhost-comb.pem
    redirect scheme https code 301 if !{ ssl_fc }
    acl https ssl_fc
    http-request set-header X-Forwarded-Proto http  if !https
    http-request set-header X-Forwarded-Proto https if https
    mode http
    acl is_grafana hdr(host) -i grafana.local
    use_backend sok-front-end1 if is_grafana
    default_backend sok-front-end2

backend sok-front-end1
    mode http
    balance roundrobin
    server srv1 grafana:3000 check inter 10s resolvers docker_resolver resolve-prefer ipv4

frontend sok-front-end2
    bind *:80
    bind :::443 ssl crt /haproxy/certs/localhost-comb.pem
    redirect scheme https code 301 if !{ ssl_fc }
    acl https ssl_fc
    http-request set-header X-Forwarded-Proto http  if !https
    http-request set-header X-Forwarded-Proto https if https
    mode http
    acl is_prometheus hdr(host) -i prometheus.local
    use_backend sok-front-end2 if is_prometheus
    default_backend sok-front-end1

backend sok-front-end2
    mode http
    balance roundrobin
    server srv2 prometheus:9090 check inter 10s resolvers docker_resolver resolve-prefer ipv4
